[submodule "erc-8004-contracts"]
	path = erc-8004-contracts
	url = https://github.com/ww-jermaine/erc-8004-contracts.git

[submodule "image-and-ssh-provisioning-iac"]
	path = image-and-ssh-provisioning-iac
	url = https://github.com/arkhai-io/compute-provisioning-iac.git
