__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
.coverage*
.mypy_cache/
.pytype/

.git
.gitignore

.vscode/
.idea/

.env
.env.*
.venv/
venv/

.uv/
uv.lock

node_modules/

.DS_Store

fly.toml

