# Fill this up with your desired network configuration
NETWORK_NAME="My Private Network"
IP_RANGE_START="10.10.10.1"
IP_RANGE_END="10.10.10.254"
NETWORK_CIDR="10.10.10.0/24"

# Fill this up after generating the network
ZEROTIER_NETWORK=5170efff3f3bf6ba
