iso_url = "{{ iso_url }}"
iso_checksum = "{{ iso_checksum }}"
disk_size = "{{ disk_size }}"
vm_cpu = {{ vm_cpu }}
vm_memory = {{ vm_memory }}
accelerator = "{{ accelerator }}"
ssh_password = "{{ ssh_pword }}"
ssh_private_key_file = "{{ ssh_privkey_path }}"
build_format = "{{ build_format }}"
build_name = "{{ build_name }}"
build_version = "{{ build_version }}"